.about-us__title{
    margin: 0;
}
.about-us__list {
    margin: 0;
    padding: 0;

    list-style: none;
}
.about-us__wrapper{
    margin: 30px;
}
.about-us__list{
    margin-bottom: 60px;
}
.about-us__item{
    width: 260px;
    padding-top: 90px;

    font-weight: bold;
    font-size: 17px;
    background-repeat: no-repeat;
    background-position: 5px 60px;
}
.about-us__item--flower{
    background-image: url("../img/SVG/flower1.svg");
    background-size: 32px 37px; 
}
.about-us__item--dollar{
    background-image: url("../img/SVG/dollar1.svg");
    background-size: 47px 27px;
}
.about-us__item--heart{
    background-image: url("../img/SVG/heart.svg");
    background-size: 34px 27px;
}
.about-us__item--clew{
    background-image: url("../img/SVG/clew.svg");
    background-size: 35px 34px;

}
.about-us__item--rocket{
    background-image: url("../img/SVG/rocket.svg");
    background-size: 55px 23px;
}
.about-us__item--present{
    background-image: url("../img/SVG/present.svg");
    background-size: 33px 32px;

}
@media (min-width: 768px){
    .about-us__wrapper{
        margin: 50px;
    }
    .about-us__title{
        font-size: 43px;
    }
    .about-us__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;       
    }
    .about-us__item{ 
        margin-right:  40px;
        width: 44%;
        font-size: 20px;
        line-height: 22px;
    }
    .about-us__item--flower{
        order: 1; 
    }
    .about-us__item--dollar{
        order: 3;
    }
    .about-us__item--heart{
        order: 5;
    }
    .about-us__item--clew{
        order: 2;
    }
    .about-us__item--rocket{
        order: 4;
    }
    .about-us__item--present{
        order: 6;
    }
}
@media (min-width: 1250px){
    .about-us__wrapper{
        margin: 70px 275px;
    }
    .about-us__title{
        font-size: 53px;
    }
}

